<h1>{{ title }}</h1>
<div class="container-fluid d-flex flex-wrap">
{{#each peliculas }}
<div class="card" style="width: 18rem;">
  <img src="{{ ../rutaFoto }}{{ poster_path }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">Some quick example.</p>
    <a href="#" class="btn btn-danger">Go somewhere</a>
  </div>
</div>
{{/each }}
</div>